<body>
  <h1>Hey, word lover! </h1>

  <fieldset>
    <legend>Score lots of words!</legend>
    <p>
      So you've got a lot of words to score? We can help you with that! In the text box below enter your words with a space between them. We'll do the rest.
    </p>
    <form action="" method="post" accept-charset="utf-8">
      <label for="word">Score your words:</label>
      <input type="text" name="words" value="" id="word">
      <input type="submit" value="Get scores!">
    </form>
  </fieldset>

  <% if @words_to_score %>
  <p>
    <% @words_to_score.each do |score_needed| %>
    <% if Scoring.check_if_letters(score_needed) == false %>
    <%= "That word contains an invalid character, we can only score words containing characters in the Latin Alphabet. Please try again." %>
    <% break %>
    <% end %>

    <% score = Scoring.score(score_needed) %>
    Great! <%= "The score of the word '#{score_needed}' is #{score}." %></p>

    <p>Your letter scores break down as follows:
    <% word_breakdown = Scoring.letters_and_scores(score_needed) %>
    <% looped = 0 %>
    <% word_breakdown.each do |letter, score| %>
        <% looped += 1 %>
        <% if looped != word_breakdown.length %>
            the value of "<%= letter %>" is <%= score %>,
        <% else %>
            and lastly, the value of "<%= letter %>" is <%= score %>.
        <% end %>
      <% end %></p>
    <% end %>
  <% end %>

</body>
