<body>
<article class="score-many">
  <p>
    So you've got a lot of words to score? We can help you with that! First, select which is most important to you: the shortest high-value word OR the highest value overall.

    Once you've made your selection, type your words in the text box below with a space between each word. We'll do the rest. <span class="emoji">😊</span>
  </p>

  <fieldset>
    <legend>Score lots of words!</legend>
    <form action="" method="post" accept-charset="utf-8">
      <label><input type="radio" name="rule_picked" value="shortest-high-value-word">shortest high-value word</label>
      <label><input type="radio" name="rule_picked" value="highest-value-overall">highest value overall</label>
      <br />
      <label for="word">Score your words:</label>
      <input type="text" name="words" value="" id="word">
      <input type="submit" value="Get scores!">
    </form>
  </fieldset>

  <% if @words_to_score %>
  <p>
    <% @words_to_score.each do |score_needed| %>
    <% if Scoring.check_if_letters(score_needed) == false %>
    <%= "That word contains an invalid character, we can only score words containing characters in the Latin Alphabet. Please try again." %>
    <% break %>
    <% end %>

    <% score = Scoring.score(score_needed) %>
    <%= "The score of the word '#{score_needed}' is #{score}. " %>

    The letter scores of '<%= score_needed %>' break down as follows:
    <% word_breakdown = Scoring.letters_and_scores(score_needed) %>
    <% looped = 0 %>
    <% word_breakdown.each do |letter, score| %>
        <% looped += 1 %>
        <% if looped != word_breakdown.length %>
            the value of "<%= letter %>" is <%= score %>,
        <% else %>
            and lastly, the value of "<%= letter %>" is <%= score %>.<br /><br />
        <% end %>
      <% end %>
      <% end %>
      <% end %>


    <% if params[:rule_picked] == "highest-value-overall" %>
      <% highest_value_word = Scoring.highest_score_from(@words_to_score) %>
      <p>Of the words you have entered, the word that has the highest value is '<%= highest_value_word %>'.</p>
    <% elsif params[:rule_picked] == "shortest-high-value-word" %>
      <% highest_value_word = Scoring.shortest_high_value(@words_to_score) %>
      <p>Of the words you have entered, the word that has the highest value is '<%= highest_value_word %>'.</p>
      <% end %>
    </article>
</body>
